
<div class="footer-padding">
  <div class="footer">
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <h3>Phone</h3>
        <p>+91-7903222041</p>
      </div>
      <div class="col-lg-3">
        <h3>Email</h3>
        <p>ashu.adarsh001@gmail.com</p>
      </div>
      <div class="col-lg-3">
        <a href="https://www.linkedin.com/in/ashish-adarsh-7a5405179/"><i class="icons fab fa-linkedin fa-3x"></i></a>
        <a  href="https://www.facebook.com/john.aryan.359/"><i class="icons fab fa-facebook-f fa-3x"></i></a>
        <a  href="https://www.instagram.com/viper.incarnate/"><i class="icons fab fa-instagram fa-3x"></i> </a>
      </div>
      <div class="col-lg-3">
          <p>Made with ❤️ by Ashish Adarsh</p>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  document.getElementsByClassName('button1').
</script>
</body>
</html>
