<%- include("partials/header"); -%>

<h1 id="project">Projects</h1>

<div class="row">
  <div class="col-lg-6">
    <h2 class="proj">Data Transformation</h2>
  </div>
  <div class="col-lg-6">
    <h4>Skills & Tools used</h4>
    <ul>
      <li>Python, JSON, Oracle Sql, SqlDeveloper, Informatica Powercenter</li>
    </ul>
    <p>Using Informatica Powercenter as an ETL tool to transform data with help of various transformations like joiner, router, filter, aggregator, lookup , etc according to bussiness requirments.</p>

  </div>
  </div>
</div>


<hr>

<div class="row">
  <div class="col-lg-6">
    <h2 class="proj"><a href="https://infinite-hamlet-63245.herokuapp.com/">To-Do-List</a></h2>

  </div>
  <div class="col-lg-6">

    <h4>Skills & Tools used</h4>
    <ul>
      <li>Frontend: HTML, CSS, JavaSctript, Bootstrap</li>
      <li>Backend: Node.js, Express.js, MongoDB, Mongoose, EJS</li>
    </ul>
    <p>With the help of EJS & Node.js one can add a page of its need dynamically. One can add & delete items from the list. The date is set to the current date of the local machine. </p>

  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-6">
    <h2 class="proj"><a href="https://ashishadarshcodeplayer-com.stackstaging.com/">Code Player</a></h2>
  </div>
  <div class="col-lg-6">

    <h4>Skills & Tools used</h4>
    <ul>
      <li>Frontend: HTML, CSS, JavaSctript, Jquery, Bootstrap</li>
      <li>Backend: Node.js, Express.js, MongoDB, Mongoose</li>
    </ul>
    <p>This is an online code editor having four fields as html, css, JavaSctript and output screen to display the changes in real time.</p>
  </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-6">
    <h2 class="proj"><a href="http://ashishadarshweatherpredictor-com.stackstaging.com/">Weather Predictor</a></h2>


  </div>
  <div class="col-lg-6">
    <h4>Skills & Tools used</h4>
    <ul>
      <li>Frontend: HTML, CSS, JavaSctript, Jquery, Bootstrap</li>
      <li>Backend: Node.js, Express.js, Rest API</li>
    </ul>
    <p>This is a weather predictor application which is made by using the api of a weather predicting website, converting the data to Json format and then extracting the needed data from this json data set.</P>
  </div>
</div>
