<%- include("partials/header"); -%>
<h1 id="res">Resume</h1>

<div class="row">
  <div class="col-lg-6">
    <h2 class="resu">Work Experience</h2>
  </div>
  <div class="col-lg-6">
    <div>
      <h4>Cognizant Technology Solutions</h4>
      <p>Aug 2020 - Present</p>
      <h3>Programmer Analyst</h3>
      <p>collecting, cleaning, and interpreting data sets in order to meet bussiness requirments using tools like Pyhton, SqlDeveloper, Informatica Powercenter.</p>
    </div>
</div>
</div>

  <hr>

  <div class="row">
    <div class="col-lg-6">
      <h2 class="resu">Education</h2>
    </div>
    <div class="col-lg-6">
      <div>
        <h3>B.Tech</h3>
        <h4>Institute Of Engineering & Management, Kolkata</h4>
        <h5>2016-2020</h5>
        <h6>CGPA: 7.78</h6>
      </div>
      <hr>
      <div>
        <h3>XII</h3>
        <h4>I.D.B.P.S, Garh Nokha</h4>
        <h5>2015</h5>
        <h6>Percentage: 72(BSEB)</h6>
      </div>
      <hr>
      <div>
        <h3>X</h3>
        <h4>D.A.V.Public School, Sasaram</h4>
        <h5>2013</h5>
        <h6>CGPA: 10(CBSE)</h6>
      </div>
    </div>
    </div>

    <hr>

    <div class="row">
    <div class="col-lg-6">
      <h2 class="resu">Relevant Courses</h2>
    </div>
    <div class="col-lg-6">
          <p>★ Data Structure and Algorithms (using C++)</p>
          <p>★ Object Oriented Programming</p>
          <p>★ Operating System</p>
          <p>★ Computer Networks</p>
          <p>★ Database Management System</p>
          <p>★ Full Stack Development</p>
          <p>★ Python</p>

    </div>
    <hr />
  </div>
