<%- include("partials/header"); -%>

<h1 id="sc">Skills & Certifications</h1>

<div class="row">
  <div class="col-lg-4">
    <h2 class="skill">Skills</h2>
  </div>

  <div class="col-lg-8">
      <p>★ Programming Languages: C++, Java, Python</p>
      <p>★ FullStack: HTML, CSS, JavaSctript, Jquery, DOM, Node.js, Express.js, Git/Github, Rest API, MongoDB, Mongoose, React.js</p>
      <p>★ Data Analysis: Python, Oracle SQL, PL/SQL, Informatica Powercenter.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-4">
    <h2 class="Certifications">Certifications</h2>
  </div>

  <div class="col-lg-8">
      <p>★ Data Structures and Algorithms Specialization - Algorithmic Toolbox - University of California san diego hse university (Coursera)</p>
      <p>★ The Bits and Bytes of Computer Networking - Google (Coursera)</p>
      <p>★ Google Analytics for Beginners - Google</p>
      <p>★ Google Tag Manager Fundamentals - Google</p>
      <p>★ The Complete Oracle SQL (Udemy)</p>
      <p>★ The Complete 2021 Web Development Bootcamp (Udemy)</p>
      <p>★ The Python 3 Programming Specialization- University Of Michigan (Coursera)</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <img class="cimg" src="pics/0001.jpg" alt="python">
  </div>
  <div class="col-lg-4">
    <img class="cimg" src="https://analytics.google.com/analytics/academy/certificate/e3_s_K0qSmeFfhPOTb28Dw" alt="gtm">
  </div>
</div>
